*.class
*.log

# Build Artifacts
.gradle/
build/
target/

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea

# NetBeans Files
nbproject/
nb-configuration.xml
nbactions.xml
